#seiwp-nprogress {
	pointer-events: none;
}

#seiwp-nprogress .bar {
	background: #29d;
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
}

/* Fancy blur effect */
#seiwp-nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #29d, 0 0 5px #29d;
	opacity: 1.0;
	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#seiwp-nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 1031;
	top: 15px;
	right: 15px;
}

#seiwp-nprogress .spinner-icon {
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	border: solid 2px transparent;
	border-top-color: #29d;
	border-left-color: #29d;
	border-radius: 50%;
	-webkit-animation: seiwp-nprogress-spinner 400ms linear infinite;
	animation: seiwp-nprogress-spinner 400ms linear infinite;
}

.seiwp-nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}

.seiwp-nprogress-custom-parent #seiwp-nprogress .spinner, .seiwp-nprogress-custom-parent #seiwp-nprogress .bar {
	position: absolute;
}

@
-webkit-keyframes seiwp-nprogress-spinner { 0% {
	-webkit-transform: rotate(0deg);
}

100%
{
-webkit-transform
:
 
rotate
(360deg);
 
}
}
@
keyframes seiwp-nprogress-spinner { 0% {
	transform: rotate(0deg);
}
100%
{
transform
:
 
rotate
(360deg);
 
}
}