 * Author: Alin Marcu 
 * Author URI: https://deconf.com
 * Copyright 2013 Alin Marcu 
 * License: GPLv2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 */

/* Real-Time content */
.seiwp-pline {
	width: 100%;
	margin: 0 0;
	padding: 5px 0 5px 0;
	background: #fff;
	-moz-box-shadow: 0px 0px 3px 0px #BBB;
	-webkit-box-shadow: 0px 0px 3px 0px #BBB;
	box-shadow: 0px 0px 3px 0px #BBB;
	display: table;
	overflow: hidden;
}

.seiwp-pleft {
	width: 90%;
	float: left;
	padding-left: 5px;
}

.seiwp-pright {
	width: 5%;
	float: right;
	padding-right: 5px;
}

[id^=seiwp-realtime-] {
	margin: 10px 0 0 0;
	width: 100%;
}

.seiwp-rt-box {
	width: 100%;
	margin: 0 0;
	background: #fff;
	text-align: center;
	-moz-box-shadow: 0px 0px 5px 0px #BBB;
	-webkit-box-shadow: 0px 0px 5px 0px #BBB;
	box-shadow: 0px 0px 5px 0px #BBB;
	display: table;
}

.seiwp-tdo-left {
	width: 60%;
	padding: 33px 0;
	float: left;
	text-align: center;
}

.seiwp-tdo-right {
	width: 35%;
	margin: 0px 10px 0px 0;
	text-align: left;
	font-weight: bold;
	vertical-align: middle;
	float: right;
	display: table;
}

.seiwp-online {
	font-size: 100px;
	font-weight: normal;
	line-height: 1em;
	margin: 0 auto;
	width: 80%;
}

.seiwp-bigtext {
	font-size: 14px;
	width: 100%;
	margin: 0 0;
	padding: 5px 5px 5px 5px;
	background: #fff;
	-moz-box-shadow: 0px 0px 3px 0px #BBB;
	-webkit-box-shadow: 0px 0px 3px 0px #BBB;
	box-shadow: 0px 0px 3px 0px #BBB;
	display: table;
	overflow: hidden;
}

.seiwp-bleft {
	float: left;
	width: 80%;
}

.seiwp-bright {
	float: right;
	width: 20%;
}

.seiwp-pgdetailsr {
	padding-left: 20px;
	text-align: right;
}

.seiwp-pgdetailsl {
	min-width: 250px;
}

[id^=seiwp-areachart-] {
	width: 98%;
	height: 100%;
	margin: 10px auto 10px auto;
	height: 250px;
}

.seiwp-floatwraper {
	display: table;
	width: 100%;
	height: 100%;
}

[id^=seiwp-piechart-].halfsize {
	width: 47%;
	margin: 10px 0 0 0;
	height: 200px;
	float: left;
}

[id^=seiwp-piechart-].floatleft {
	float: left;
}

[id^=seiwp-piechart-].floatright {
	float: right;
}

[id^=seiwp-tablechart-] {
	width: 98%;
	height: 100%;
	margin: 2px auto 10px 0;
}

#dashboard-widgets-wrap .postbox {
	margin-right: 10px;
}

/* Admin Widget content */
[id^=seiwp-progressbar-] {
	width: 100%;
	clear: both;
	height: 3px;
	margin: 5px 0 0px 0;
}

[id^=seiwp-summary-] {
	width: 100%;
}

[id^=seiwp-sel-period-]{

}

[id^=seiwp-sel-period-], .seiwp-dashboard-control input {
	vertical-align: bottom;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 4px;
	padding-bottom: 4px;
	height: 28px;
}

.seiwp-dashboard-control input {
	height: 20px;
	content: "Search ...";
}

.seiwp-dashboard-control input::placeholder {
    /* modern browser */
    color: #999;
}

[id^=seiwp-geochart-] {
	display:inline-block;
	width: 100%;
}

[id^=seiwp-summary-] .inside {
	display: table;
	margin: 0 1% 0 1%;
	min-width: 100%;
	padding: 0px;
}

#seiwp-widget .inside .small-box {
	margin-top: 10px;
	width: 24%;
	float: left;
	background: #fff;
	text-align: center;
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.25);
	border-right: 0px;
}

#seiwp-widget .inside .small-box.first {
	background: #3E7CE0;
}

#seiwp-widget .inside .small-box.second {
	background: #00bcd4;
}

#seiwp-widget .inside .small-box.third {
	background: #009688;
}

#seiwp-widget .inside .small-box.last {
	background: #673ab7;
	border-right: 1px solid;
	border-color: rgba(0, 0, 0, 0.25);
}

#seiwp-widget .inside .small-box h3 {
	font-size: 1em;
	color: white;
	padding: 5px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#seiwp-widget .inside .small-box p {
	font-size: 1.2em;
	margin: 7px 0px 10px 0px;
	font-weight: 500;
	color: white;
}

.seiwp-orgchart{
	border: 0px;
	border-radius: 10px;
	color: white;
	font-size: 1em !important;
	font-family: inherit !important;
	background-color: #2c5fb2;
}

.seiwp-orgchart-selected{
	border: 0px;
	border-radius: 10px;
	color: white;
	font-size: 1em !important;
	font-family: inherit !important;
	background-color: #3E7CE0;
}

@media screen and (max-width: 410px) {
	[id^=seiwp-summary-] .inside .small-box {
		width: 45%;
	}
}