/**
 * Author: Alin Marcu 
 * Author URI: https://deconf.com
 * Copyright 2013 Alin Marcu 
 * License: GPLv2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 */

/* Backend Item Reports */
.column-seiwp_stats {
	width: 30px;
}

.seiwp-icon {
	color: #555;
}

.seiwp-icon:hover {
	color: #2ea2cc;
}

.seiwp-icon-oldwp {
	padding-top: 5px;
}

[id^=seiwp-container-] {
	width: 480px;
}

[id^=seiwp-areachart-] {
	height: 280px;
}

[id^=seiwp-progressbar-] {
	width: 100%;
	height: 3px;
	clear: both;
	margin: 5px 0 0px 0;
}

[id^=seiwp-summary-] {
	width: 100%;
}

[id^=seiwp-summary-] .inside {
	display: table;
	margin: 0 1% 0 1%;
	min-width: 100%;
	padding: 0px;
}

[id^=seiwp-summary-] .inside .small-box {
	margin-top: 10px;
	width: 24%;
	float: left;
	background: #fff;
	text-align: center;
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.25);
	border-right: 0px;
}

[id^=seiwp-summary-] .inside .small-box.first {
	background: #3E7CE0;
}

[id^=seiwp-summary-] .inside .small-box.second {
	background: #00bcd4;
}

[id^=seiwp-summary-] .inside .small-box.third {
	background: #009688;
}

[id^=seiwp-summary-] .inside .small-box.last {
	background: #673ab7;
	border-right: 1px solid;
	border-color: rgba(0, 0, 0, 0.25);
}

[id^=seiwp-summary-] .inside .small-box h3 {
	font-size: 1em;
	color: white;
	padding: 5px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

[id^=seiwp-summary-] .inside .small-box p {
	font-size: 1.2em;
	margin: 7px 0px 10px 0px;
	font-weight: 500;
	color: white;
}

.seiwp-floatwraper {
	display: table;
	width: 100%;
	height: 100%;
}

[id^=seiwp-piechart-].halfsize {
	width: 47%;
	margin: 10px 0 0 0;
	height: 200px;
	float: left;
}

[id^=seiwp-piechart-].floatleft {
	float: left;
}

[id^=seiwp-piechart-].floatright {
	float: right;
}

[id^=seiwp-tablechart-] {
	line-height: 1.5em !important;
	width: 98%;
	height: 100%;
	margin: 2px auto 10px 0;
}

[id^=seiwp-sel-period-], .seiwp-dashboard-control input {
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	width:auto !important;
	font-size: 14px !important;
	height: 28px !important;
	float: left;
	color: #32373c;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	border: 1px solid #ddd !important;
	box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 ) !important;
	background-color: #fff !important;
}

[id^=seiwp-sel-report-] {
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	width:auto !important;
	font-size: 14px !important;
	margin-left: 5px;
	height: 28px !important;
	color: #32373c;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
	background-color: #fff;
}

.seiwp-dashboard-control input {
	height: 20px !important;
	content: "Search ...";
}

.seiwp-dashboard-control input::placeholder {
    /* modern browser */
    color: #999;
}

.ui-dialog.seiwp {
	font-size: 13px;
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
}

.ui-dialog.seiwp table {
	margin: auto;
	width: auto;
}

.seiwp .ui-dialog-titlebar {
	font-size: 1.1em;
	text-overflow: ellipsis;
	overflow: hidden;
}

.seiwp-orgchart{
	border: 0px;
	border-radius: 10px;
	color: white;
	font-size: 1em !important;
	font-family: inherit !important;
	background-color: #2c5fb2;
}

.seiwp-orgchart-selected{
	border: 0px;
	border-radius: 10px;
	color: white;
	font-size: 1em !important;
	font-family: inherit !important;
	background-color: #3E7CE0;
}

@media screen and (max-width: 500px) {
	[id^=seiwp-container-] {
		width: 410px;
	}
	[id^=seiwp-summary-] .inside .small-box {
		width: 30.8%;
	}
}

@media screen and (max-width: 410px) {
	[id^=seiwp-container-] {
		width: 260px;
	}
	[id^=seiwp-summary-] .inside .small-box {
		width: 46%;
	}
}